extends ../layouts/default

block variables
  - var pageTitle = 'Главная страница'
  - var bodyClass = 'home-page'

block content
  include ../components/header
  main.o-wrapper
    //- include 1-index/
  include ../components/footer
